## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import Google_API_KEY

# Configure gmaps API key
gmaps.configure(api_key=Google_API_KEY)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/Weather_database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Bredasdorp,ZA,-34.5322,20.0403,56.52,62,73,11.50,broken clouds,2022-03-14 01:29:32
1,1,Mataura,NZ,-46.1927,168.8643,65.48,49,47,4.41,scattered clouds,2022-03-14 01:29:33
2,2,Hobart,AU,-42.8794,147.3294,64.26,84,75,8.05,broken clouds,2022-03-14 01:29:33
3,3,Namatanai,PG,-3.6667,152.4333,85.62,59,28,8.25,scattered clouds,2022-03-14 01:29:34
4,4,Thompson,CA,55.7435,-97.8558,6.96,72,75,13.80,broken clouds,2022-03-14 01:29:34
5,5,Rikitea,PF,-23.1203,-134.9692,80.38,71,100,14.12,overcast clouds,2022-03-14 01:29:35
6,6,Ushuaia,AR,-54.8000,-68.3000,38.86,87,100,17.27,moderate rain,2022-03-14 01:28:02
7,7,Diamantina,BR,-18.2494,-43.6003,63.88,90,100,3.47,overcast clouds,2022-03-14 01:29:35
8,8,Kavieng,PG,-2.5744,150.7967,85.84,65,11,13.47,few clouds,2022-03-14 01:29:36
9,9,Qaanaaq,GL,77.4840,-69.3632,-7.82,99,100,1.34,light snow,2022-03-14 01:29:36

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >=min_temp)]

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 70

In [17]:
# 4a. Determine if there are any empty rows
preferred_cities_df.notnull().sum()

City_ID                144
City                   144
Country                137
Lat                    144
Lng                    144
Max Temp               144
Humidity               144
Cloudiness             144
Wind Speed             144
Current Description    144
Date                   144
dtype: int64

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_data_df = preferred_cities_df.dropna()
clean_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Bredasdorp,ZA,-34.5322,20.0403,56.52,62,73,11.50,broken clouds,2022-03-14 01:29:32
1,1,Mataura,NZ,-46.1927,168.8643,65.48,49,47,4.41,scattered clouds,2022-03-14 01:29:33
2,2,Hobart,AU,-42.8794,147.3294,64.26,84,75,8.05,broken clouds,2022-03-14 01:29:33
7,7,Diamantina,BR,-18.2494,-43.6003,63.88,90,100,3.47,overcast clouds,2022-03-14 01:29:35
14,14,Jalu,LY,29.0331,21.5482,52.38,54,6,12.82,clear sky,2022-03-14 01:29:39
23,23,Russell,US,32.3502,-85.1999,51.40,61,0,0.00,clear sky,2022-03-14 01:29:44
24,24,Ribeira Grande,PT,38.5167,-28.7000,56.30,63,99,9.31,overcast clouds,2022-03-14 01:29:44
29,29,Chuy,UY,-33.6971,-53.4616,60.55,80,0,5.59,clear sky,2022-03-14 01:29:46
32,32,Lisala,CD,2.1500,21.5167,68.23,96,100,2.33,overcast clouds,2022-03-14 01:29:47
37,37,Dakar,SN,14.6937,-17.4441,68.88,76,0,16.64,clear sky,2022-03-14 01:29:50

In [7]:
clean_data_df.notnull().sum()

City_ID                137
City                   137
Country                137
Lat                    137
Lng                    137
Max Temp               137
Humidity               137
Cloudiness             137
Wind Speed             137
Current Description    137
Date                   137
dtype: int64

In [21]:
clean_data_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [23]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bredasdorp,ZA,56.52,broken clouds,-34.5322,20.0403,
1,Mataura,NZ,65.48,scattered clouds,-46.1927,168.8643,
2,Hobart,AU,64.26,broken clouds,-42.8794,147.3294,
7,Diamantina,BR,63.88,overcast clouds,-18.2494,-43.6003,
14,Jalu,LY,52.38,clear sky,29.0331,21.5482,
23,Russell,US,51.40,clear sky,32.3502,-85.1999,
24,Ribeira Grande,PT,56.30,overcast clouds,38.5167,-28.7000,
29,Chuy,UY,60.55,clear sky,-33.6971,-53.4616,
32,Lisala,CD,68.23,overcast clouds,2.1500,21.5167,
37,Dakar,SN,68.88,clear sky,14.6937,-17.4441,

In [24]:

# 6a. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6b. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
  # 6c. Set parameters to search for hotels with 5000 meters.  
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "type": "lodging",
        "key": Google_API_KEY
    }
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.notnull().sum()

City                   137
Country                137
Max Temp               137
Current Description    137
Lat                    137
Lng                    137
Hotel Name             137
dtype: int64

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bredasdorp,ZA,56.52,broken clouds,-34.5322,20.0403,Bredasdorp Country Manor
1,Mataura,NZ,65.48,scattered clouds,-46.1927,168.8643,Ellie's Villa
2,Hobart,AU,64.26,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
7,Diamantina,BR,63.88,overcast clouds,-18.2494,-43.6003,POUSADA OURO DE MINAS
14,Jalu,LY,52.38,clear sky,29.0331,21.5482,صاحبة الفخامة
23,Russell,US,51.40,clear sky,32.3502,-85.1999,Macs
24,Ribeira Grande,PT,56.30,overcast clouds,38.5167,-28.7000,Quinta da Meia Eira
29,Chuy,UY,60.55,clear sky,-33.6971,-53.4616,Nuevo Hotel Plaza
32,Lisala,CD,68.23,overcast clouds,2.1500,21.5167,Flat hôtel tozelaka
37,Dakar,SN,68.88,clear sky,14.6937,-17.4441,Novotel Dakar

In [36]:
# 8a. Create the output File (CSV)
output_data_file = "vacation_search.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30,31), zoom_level=1.5 )
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))